# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/how to flash jj4x4/
/jj4x4 mapper website.txt/
/midi information.txt/
